@media only screen and (max-width: 980px) {
    #js-menu {
        display: none;
        flex-direction: column;        
    }

    #js-navbar-toggle {
        display: block;
    }

    .navbar-item {
        flex-direction: column;
    }

    section {
        width: 90%;
    }

    .tools-container {
        flex-direction: column;
        align-items: center;
    }

    .technical-container {
        width: 80%;
    }

    .non-technical-container {
        width: 80%;
    }
    
    .form-input-container > input {
        width: 100%;
    }
    
    #message-textarea {
        width: 95%;
    }

    .contact-btn-container {
        justify-content: center;
    }

}