@media only screen and (max-width: 980px) {
    #js-menu {
        display: none;
        flex-direction: column;
        justify-content: center;        
    }

    #js-navbar-toggle {
        display: block;        
    }

    .section-block {
        width: 90%;
    }

    .quote-container {
        width: 75vw;
    }
}